<!-- <p>merchant works!</p>
<div>
<button  class="au_btn-submit" (click)="addEmpProd()">add new Product</button>
</div>
 <table border = "1" align="center">
    <tr>
    <th>product_id</th>
    <th>product_name</th>
    <th>description</th>
    <th>unit_price</th>
    <th>image_url</th>
    <th>units_in_stock</th>
    <th>date_created</th>
    <th>last_updated</th>
    <th>category_id</th>
    </tr>
    <tr *ngFor = "let temProd of products">
        <td>{{temProd.product_id}}</td>
        <td>{{temProd.product_name}}</td>
        <td>{{temProd.description}}</td>
        <td>{{temProd.unit_price}}</td>
        <td ><img src="{{temProd.image_url}}" alt="image" width="100" height="100"></td>
        <td>{{temProd.units_in_stock}}</td>
        <td>{{temProd.date_created}}</td>
        <td>{{temProd.last_updated}}</td>
        <td>{{temProd.category_id}}</td>
    </tr>
</table>  -->
